 *{
    margin: 0%;
}
nav{
   /* padding: 5px;*/
   width: 95.7%;
   height: 100%;
   padding: 20px;
   padding-right: 40px;
   background-color: rgb(85, 2, 60);
   color: white;
}
h1{
  text-align: center;  
}

.box{
      background-color: rgb(255, 247, 129);
    /*padding: 5px;
    width: 50%;*/
    float: left;
    width: 28.9%;
    padding: 30px; 
}
.box1{
    background-color: darkkhaki;
    /*padding: 5px;
    width: 50%;*/
    float: left;
    width: 29.05%;
    padding: 30px;
}
.box2{
    background-color: darkseagreen;
    /*padding: 5px;
    width: 50%;*/
    float: left;
    width: 28.83%;
    padding: 30px;
}